{% extends 'blog/base.html' %}
{% load static %}
{% block title %}playlist{% endblock %}
{% block content %}
    <div class="d-flex justify-content-center align-items-center mt-5 gap-3">
        <h1 class="text-center">Видео</h1>
        <a href="{% url 'create_video' %}" class="btn btn-primary">Добавить</a>
    </div>
    <div class="mt-3 d-flex justify-content-center gap-3 flex-wrap mx-auto" style="max-width: 700px">
        {% for video in all_videos %}
            {% if video.is_published == True %}
                <div class="card justify-content-center rounded-3"
                     style="width: 300px;">
                    <iframe class="w-100 rounded-3"
                            src="https://www.youtube.com/embed/{{ video.embed_code }}"
                            title="YouTube video player"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            allowfullscreen></iframe>
                    <div class="card-body d-flex justify-content-center flex-column">
                        <h5 class="card-title">{{ video.name }}</h5>
                        <a href="#" class="btn btn-primary">Подробнее...</a>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}
