{% extends 'blog/base.html' %}
{% load static %}
{% block title %}playlist{% endblock %}
{% block content %}
    <h1 class="text-center ">Видео</h1>
    <div class="d-flex justify-content-center gap-5 flex-wrap">
        {% for video in all_videos %}
            {% if video.is_published == True %}
                <div class="card justify-content-center mx-auto & px-auto" style="width: 36rem;">
                    <iframe class="mx-auto & px-auto" width="560" height="315" src="https://www.youtube.com/embed/{{ video.embed_code }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    <div class="card-body d-flex justify-content-center flex-column" style="width: 36rem;">
                        <h5 class="card-title">{{ video.name }}</h5>
                        <a href="#" class="btn btn-primary">Подробнее...</a>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}
