{% extends 'blog/base.html' %}
{% load static %}
{% block title %}posts list{% endblock %}
{% block content %}
    <h1 class="text-center ">Посты</h1>
    <div class="d-flex justify-content-center gap-5">
        {% for post in all_posts %}
            <div class="card" style="width: 18rem;">
                <img src="{{ post.img.url }}" style="height: 250px; object-fit: cover" class="card-img-top" alt="...">
                <div class="card-body d-flex justify-content-between flex-column">
                    <div>
                        <h5 class="card-title">{{ post.name }}</h5>
                        <p class="card-text">{{ post.content|truncatewords:10 }}</p>
                    </div>
                    <form method="POST" action="{% url 'post_like' %}"
                          class="d-flex align-items-center gap-2">
                        {% csrf_token %}
                        <input type="hidden" name="post_id" value="{{ post.id }}">
                        <button class="bg-transparent border-0" type="submit">
                            <img width="40" height="40"
                                 style="filter: invert(1)"
                                 src="{% static 'blog/img/like.png' %}" alt="">

                        </button>
                    </form>
                    <span class="fs-4">{{ post.likes }}</span>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}